<html>
    <head>
        <title>
            Registration form
        </title>
    </head>
    <body>
        <centre>
            <form action="/submit" methode="POST">
                <h3>Registration form</h3><br><br>
                Enter Username <input type="text" name="username"><br><br>
                Enter Email <input type="text" name="email"><br><br>
                Enter roll no <input type="text" name="roll no"><br><br>
                Enter Year
                <select id="year">
                    <option value="1">I</option>
                    <option value="2">II</option>
                    <option value="3">III</option>
                    <option value="4">IV</option>
                </select><br><br>
                <button name="submit">Submit</button>
            </form>
        </centre>
    </body>
</html>